.bg_gradient_menu {
  background: linear-gradient(90deg, #000000ef 0%, #000000d1 100%);
}

.item_base {
  padding-inline: 0.5rem;
  transition-duration: 1000ms;
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
}

.item_base::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 4px;
  border-radius: 10px;
  transition: all 600ms;
}
.item_active {
  color: var(--primary-900) !important;
}

.item_active::before {
  background-color: var(--primary-900);
  width: 90%;
}

@media (min-width: 768px) {
  .item_active::before {
    width: 50%;
  }
}
.item_active::after {
  background-color: #f8f8f8;
}

.hamburger_button {
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
}

.hamburger_button > span {
  position: relative;
  width: 40px;
  height: 4px;
  background-image: linear-gradient(
    90deg,
    var(--primary-900),
    var(--primary-600),
    var(--primary-900)
  );
  border-radius: 5px;
  transition: all 250ms ease-in-out;
}
.hamburger_button_selected > span:first-child::after {
  background-image: linear-gradient(
    90deg,
    #67e8f936,
    #caf8f05e,
    #def4f0a7,
    #caf8f05e,
    #67e8f936
  );
  animation: hamburger_animation 800ms infinite ease-in-out forwards;
}
.hamburger_button_selected > span:last-child::after {
  background-image: linear-gradient(
    90deg,
    #67e8f936,
    #caf8f05e,
    #def4f0a7,
    #caf8f05e,
    #67e8f936
  );
  animation: hamburger_animation 800ms 800ms infinite ease-in-out forwards;
}
.hamburger_button_selected > *::after {
  border-radius: 5px;
  position: absolute;
  width: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}
@keyframes hamburger_animation {
  50% {
    left: calc(100% - 20px);
  }
  100% {
    left: 0;
  }
}
.hamburger_button_selected > *:first-child {
  transform-origin: left center;
  transform: rotate(50deg);
}
.hamburger_button_selected > *:nth-child(2) {
  opacity: 0;
}
.hamburger_button_selected > *:last-child {
  transform-origin: left center;
  transform: rotate(-50deg);
}
